@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding: 10px;
    margin: 10px;
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
    font-size: 20px;
}

#game {
    width: 400px;
    height: 515px;
    border: 1px solid black;
    margin: auto;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;;
    top: 440px;
    left: 200px;
    z-index: 10000;
}

#high {
    padding: 20px;
}

.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}